@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #e0bbe4;
}

.wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#todo {
  width: 50vw;
  height: 50vh;
  background: #957dad;
  border-radius: 0.5rem;
  padding: 1rem;
}

#todo h2 {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

#todo .input-box {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

#todo .input {
  width: 100%;
  border: 1px solid #e0bbe4;
  padding: 0.5rem;
}

#todo .btn {
  padding: 0.5rem;
  border: 0;
  outline: 0;
  color: #fff;
  background: #e0bbe4;
}

#todo .btn i {
  font-weight: bold;
  font-size: 1.5rem;
}

#todo .list-box {
  width: 100%;
  height: auto;
  max-height: 30vh;
  overflow: auto;
}

#todo .list-box li {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-top: 0.25rem;
  align-items: center;
  gap: 1.5rem;
}

#todo .list-box li p {
  font-size: 0.9rem;
  color: #777;
}

#todo .list-box li i {
  cursor: pointer;
  font-size: 1.25rem;
  color: #e0bbe4;
}

@media screen and (max-width: 800px) {
  #todo {
    width: 80vw;
  }
}
