* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #deceb8;
}

.fx-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-wrap {
  width: 65vw;
  height: auto;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}

.sl-contents {
  width: 100x;
}

.imgs {
  display: flex;
  width: 400%;
  position: relative;
  left: 0;
  transition: all 0.5s ease;
}

.imgs img {
  width: 25%;
}

.navigator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* background: #555; */
}

.navigator a {
  opacity: 0.3;
  transition: all 0.3s;
}

.navigator a:hover {
  opacity: 1;
}

.navigator img {
  width: 80px;
}

.dot-wrap {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.dot-wrap .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
}

.dot-wrap .dot.active {
  background: #777;
}
